@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Resets CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #239b7e;
  --main-font: "Playfair Display", serif;
  --primary-font: "Roboto", sans-serif;
}

/* Navigation */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: var(--primary-font);
}

.logo h1 {
  margin-left: 5rem;
  font-weight: 500;
}

.logo a {
  text-decoration: none;
  color: #000;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 5rem;
}

.burger span {
  border: 2px solid var(--main-color);
  width: 30px;
  height: 1px;
  margin: 2px;
}

/* Headers */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  height: 90vh;
}

.main-heading {
  font-size: 4rem;
  font-family: var(--main-font);
  transform: translateY(-40px);
  color: #00000097;
  line-height: 5rem;
}

.main-heading span {
  color: black;
}

.primary-heading {
  max-width: 500px;
  font-family: var(--primary-font);
  line-height: 25px;
  color: #716d6d;
  margin-bottom: 1rem;
}

.btn {
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-family: var(--primary-font);
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn-fill {
  color: #fff;
  margin-right: 10px;
  background-color: var(--main-color);
}

.btn-fill:hover {
  background-color: #fff;
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--main-color);
  color: var(--main-color);
}

.btn-outline.active {
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--main-color);
  color: var(--main-color);
  padding: 10px 20px;
  background-color: transparent;
}

.btn-outline.active:hover {
  background-color: var(--main-color);
  color: #fff;
}

.img-container {
  border-radius: 50%;
  /* box-shadow: 4px 7px 5px 2px #bcbaba; */
}

.header-img {
  border-radius: 100%;
  background: url(/images/oswaldo-ibanez-1NPUmTaiMeg-unsplash.jpg);
  width: 400px;
  height: 400px;
  background-position: top;
  background-size: cover;
}

/* Section One */
.section-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 7rem;
}

.section-one-img {
  background: url(/images/gesphotoss-1i9K55ni5Dk-unsplash.jpg);
  background-position: top;
  background-size: cover;
}

/* Products Section */
.products {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products .products-heading {
  font-family: var(--primary-font);
  font-size: 2rem;
  margin-bottom: 3rem;
}

.products .products-categories button {
  margin-right: 20px;
  margin-bottom: 2rem;
}

.products .products-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  max-width: 60rem;
}

.products .products-item-container .item {
  margin: 20px;
}

.products .products-item-container .item-layer {
  background: #ebf1f0;
  padding: 40px;
  margin: 0 auto;
  margin-top: 20px;
}

.products .products-item-container .item-layer img {
  width: 150px;
  height: 200px;
}

.products .products-item-container .item .item-name-price {
  margin: 10px 0;
  font-family: var(--primary-font);
}

.products .products-item-container .item .view-product {
  text-decoration: none;
  font-family: var(--primary-font);
  margin-bottom: 10px;
  color: var(--main-color);
}

.products .products-item-container .item .view-product:hover {
  border-bottom: 1px solid var(--main-color);
}

/* Customer Reviews Section */
.customer-heading {
  font-family: var(--primary-font);
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 10rem;
  font-weight: 300;
}

.customer-reviews {
  margin-top: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.customer-reviews .customer {
  text-align: center;
}

.customer-reviews .customer .customer-description {
  font-size: 12px;
  margin-top: 20px;
  max-width: 200px;
  text-align: center;
  margin: 10px;
  font-family: var(--primary-font);
}

.customer-reviews .customer .customer-img .img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.customer-reviews .customer .customer-img .img-one {
  background-image: url(/images/yogendra-singh-uWs_N5Dlyiw-unsplash.jpg);
}

.customer-reviews .customer .customer-img .img-two {
  background-image: url(/images/joshua-rondeau-xazIYnxpS2Q-unsplash.jpg);
}
.customer-reviews .customer .customer-img .img-three {
  background-image: url(/images/milan-popovic-kOnmHdLJTNI-unsplash.jpg);
}
